.form {
    background-color: #fffefb;
    padding: 2rem;
    border-radius: 1.5rem;
    border: 2px dashed #EADBD1;
    box-shadow: 0 4px 10px #0000000d;
    max-width: 400px;
    margin: 2rem;
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
  }
  
  .ingredient {
    display: flex;
    flex-wrap: wrap;
  }

  .input, 
  .inputNumber, 
  .inputSelect {
    font-family: "Open Sans";
    padding: 0.65rem .75rem;
    margin: auto 0.25rem;
    min-width: 2rem;
    border-radius: 0.8rem;
    border: 1px solid #E0CFC2;
    font-size: 1rem;
    background-color: #faf7f3;
    transition: border-color 0.2s ease;
    color: #4C4A3E;
  }

  .input {
    flex: 1 1 0;
  }

  .inputNumber {
    width: 2.1875rem;
    text-align: center;
  }

  .inputSelect {
    width: 6.25rem;
  }
  
  .input:focus, 
  .inputNumber:focus, 
  .inputSelect:focus {
    outline: none;
    border-color: #D7BBAE;
    box-shadow: 0 0 0 2px #e7d7cc88;
  }

  .inputSelect:invalid {
    color: #757575;
  }

  .textArea {
    font-family: "Open Sans";
    padding: 0.75rem 1rem;
    resize: none;
    border-radius: 0.8rem;
    border: 1px solid #E0CFC2;
    font-size: 1rem;
    background-color: #faf7f3;
    transition: border-color 0.2s ease;
    color: #4C4A3E;
  }

  .textArea:focus {
    outline: none;
    border-color: #D7BBAE;
    box-shadow: 0 0 0 2px #e7d7cc88;
  }
  
  .submitButton {
    background-color: #8DAA91;
    color: #FFFFFF;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .submitButton:hover {
    background-color: #78947C;
  }
  
 .submitButton:active {
    background-color: #5F7C66;
  }


/* Media Query */

@media only screen and (min-width: 500px) {
  .form {
    margin: 2rem auto;
  }
}

@media only screen and (min-width: 600px) {
  .form {
    max-width: 500px;
  }
}
