/* Recipe Tile */

.tileContainer {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px #0000000d;
    width: 260px;
    height: 150px;
    margin: 2rem auto;
    display: flex;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 2px solid #3D4F3A;
}

.title {
    margin: 0;
    font-weight: 600;
    font-size: 1.1rem;
    color: #435A47;
    letter-spacing: 0.5px;
    text-shadow: 0.5px 0.5px 1px #1d311e;
}

.addButton {
    margin: 0;
    padding: .25rem .75rem;
}

.ingredientsContainer {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #60695f #787f7800;
    margin-top: 1rem;
}

.ingredient {
    display: inline-flex;
    text-align: center;
    padding: 0.4rem 0.8rem;
    border-radius: 999px;
    background-color: #EAF1E4;
    color: #3D4F3A;
    margin: 0.2rem;
    box-shadow: 0 1px 3px #0000000d;
}
