/* NAVBAR */

.nav {
    background-color: #ffffff;
    padding: 1.25rem 0;
    width: 95%;
    margin: 0 auto;
    border-radius: 2rem;
    box-shadow: 0 3px 8px #00000012;
  }

  .navList {
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
  }
  
  .navList a {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    color: #6E5E55;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .navList a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1px;
    width: 100%;
    background-color: #D7BBAE;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.6;
  }
  
  .navList a:hover::after {
    transform: scaleX(1);
    opacity: 1;
  }
  
  .navList a:hover {
    color: #6E8872;
  }
  
  .navList a.active {
    color: #8DAA91;
  }

  /* Media Query */

@media only screen and (min-width: 600px) {
  .nav {
    width: 80%;
  }
}

@media only screen and (min-width: 700px) {
  .nav {
    width: 75%;
  }
}

@media only screen and (min-width: 860px) {
  .nav {
    width: 60%;
  }
}

