/* SHOPPING LIST */

.mainContainer {
    width: auto;
    height: auto;
    overflow: hidden;
    margin: auto;
    background-color: #fffefc;
    border: 2px dashed #d6cfc4;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(211, 204, 192, 0.3);
}

.ingredientListContainer {
    font-family: 'Nunito', sans-serif;
    padding: 1rem 2rem;
    width: 20.5rem;
    height: 12.5rem;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #D7BBAE #ffffff00;
}

.emptyText {
    font-family: 'Open sans', sans-serif;
    font-size: 1rem;
    color: #6e8872;
    text-align: center;
    margin-top: 2rem;
    opacity: 0.8;
}

.ingredientItemContainer ul {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0;
}

.ingredient {
    border-bottom: 1px dashed #d9e3d5;
    padding: 0.75rem;
    font-size: 1rem;
    color: #3D4F3A;
    display: flex;
    align-items: center;
}

.hiddenCheckbox {
    display: none;
}


.customCheckbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    gap: 1rem;
}

.styledCheckbox {
    width: 1rem;
    height: 1rem;
    border: 2px solid #90a88f;
    border-radius: 0.25rem;
    background-color: #fff;
    flex-shrink: 0;
    position: relative;
    transition: background-color 0.2s, border-color 0.2s;
}


.hiddenCheckbox:checked+.styledCheckbox {
    background-color: #90a88f;
    border-color: #6e8e6e;
}

.hiddenCheckbox:checked+.styledCheckbox::after {
    content: "";
    position: absolute;
    left: 0.25rem;
    top: 0.05rem;
    width: 0.25rem;
    height: 0.5rem;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Media Query */

@media only screen and (min-width: 750px) {
    .ingredientListContainer {
        width: 38.625rem;
        height: 12.5rem;
    }
}

@media only screen and (min-width: 860px) {
    .ingredientListContainer {
        width: 20.5rem;
        height: 31.25rem;
    }
}

@media only screen and (min-width: 1400px) {
    .ingredientListContainer {
        width: 31.25rem;
    }
}