  /* HEADER */  
  
  .logoContainer {
    display: block;
    width: 22.5rem;
  }

  .imgLogo {
    display: block;
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: .5rem;
  }

