html {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #F7F2E7;
  color: #000;
}

a {
  font-weight: 500;
  color: #6E5E55;
  text-decoration: inherit;
}
a:hover {
  color: #6E8872;
}



h1 {
  font-size: 6rem;
  line-height: 1.1;
}


button,
.button {
  padding: 0.5rem 1.25rem;
  margin: 1rem;
  border-radius: .7rem;
  border: none;
  background-color: #C7DEC3;
  color: #4F4B45;
  font-size: 1rem;
  font-weight: 600;
  box-shadow:   inset 0 -2px 3px #0000000d,
  0 2px 4px #00000026;
  transition: all 300ms ease-in-out;
}

button:hover,
.button:hover {
  background-color: #B8D3B5;
  box-shadow:
    inset 0 -1px 2px #0000000a,
    0 3px 6px #00000033;
}

button:active,
.button:active {
  background-color: #A0C29A;
  transform: translateY(1px);
  box-shadow:
    inset 0 1px 1px #0000000f,
    0 1px 3px #00000026;
}

/* Media Query */

@media only screen and (max-width: 399px) {
  html {
    font-size: 14px;
  }
}